<ion-header>
  <ion-toolbar>
    <ion-title>show</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-list-header>
      <ion-label>Your details</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Name : {{name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>email : {{email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Employeeid : {{eid}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Blood Pressure : {{bpsys}}/{{bydias}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pulse : {{pulse}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Oxygen Saturation : {{os_level}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Blood Sugar: {{bs_level}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Respiration Rate : {{respiration_rate}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-badge color="medium">Stress : {{stress}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-badge color="medium">Diabetes : {{diabetes}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-badge color="medium">Hypoxemia : {{Hypoxemia}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-badge color="medium">CHD : {{CHD}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-badge color="medium">Bronchiectasis : {{bronchitis}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-badge color="medium">Asthama : {{Asthama}}</ion-badge>
    </ion-item>
  </ion-list>
  <!-- <ion-list>

  </ion-list> -->
</ion-content> 

