<ion-card class="center">
  
  
  <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
  

<img src="../../assets/images/logo.png" alt="">
<div style="padding:30px">
  <div class="form-group">
    
    <input type = "text" name = "employeeid" placeholder = "employeeid" class="form-control" style="font-size: larger;" ngModel>
    
  </div>
  <div class="form-group">
    <input type = "text" name = "name" placeholder = "name" class="form-control" style="font-size: larger;"ngModel>
  </div>
  <div class="form-group">
    <input type = "password" name = "passwd" placeholder = "password" class="form-control" style="font-size: larger;" ngModel>
  </div>
  <input type = "submit" value = "LOGIN" class="btn btn-primary align-self-center" style="font-size: larger;">
  </div>
</form>


</ion-card>












